
header {
  background-image: url(./pattern.jpeg);
}

header h1 {
  font-family: Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
}

main div:first-child h3{
  background-color: mediumspringgreen;
}

main div:nth-child(2) h3{
  background-color: lightcoral;
}

main div:last-child h3{
  background-color: skyblue;
}

.services h3{
  font-family: Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.services p{
  display: inline;
}

.services .blue{
  color: blue;
  font-weight: bold;
}

